body {
    overflow-x: hidden;
}

.nav-data {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.title {
    flex-grow: 3;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: red;
    }
}

@media (width <= 800px) {
  body > * {
    display: none;
  }
  body::after {
    content: "Unfortunately your screen size is not supported.";
  }
}