@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
    overflow-x: hidden;
    font-family: "Google Sans", sans-serif;
    color: #061E29;
    background-color: #5F9598;
}

.nav-data {
    display: flex;
    gap: 20px;
}

.title {
    flex-grow: 3;
}
.home-title {
  display: flex;
  justify-content: center;
}
a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: #1D546D;
    }
}

.play-link {
  padding: 5px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: #5F9598;
}
.play-link:hover {
  transform: scale(1.1);
}
.btn-container {
  display: flex;
  gap: 5px;
}
.notice {
  animation-duration: 1s;
  animation-name: drop;
  transition-timing-function: ease-out;
}
.ww {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
}
.utils {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
.title > span {
  color: #1D546D;
}
@keyframes drop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

/* @media (width <= 800px) {
  body > * {
    display: none;
  }
  body::after {
    content: "Unfortunately your screen size is not supported.";
  }
} */