body {
    overflow-x: hidden;
}

.nav-data {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.title {
    flex-grow: 3;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: red;
    }
}

.btn-container {
  display: flex;
  gap: 5px;
}
.notice {
  animation-duration: 1s;
  animation-name: drop;
  transition-timing-function: ease-out;
}

@keyframes drop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@media (width <= 800px) {
  body > * {
    display: none;
  }
  body::after {
    content: "Unfortunately your screen size is not supported.";
  }
}